@model MvcLabManager.Models.Lab

@{
    ViewData["Title"] = "Editar Laboratório";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Lab" asp-action="Update" method="post">
    <p>
        <input type="hidden" asp-for="Id" value="@Model.Id">
    </p>

    <p>
        <label asp-for="Number">Número: </label>
        <input type="number" asp-for="Number" value="@Model.Number">
        <span asp-validation-for="Number" class="text-danger"></span>
    </p>

    <p>
        <label asp-for="Name">Nome: </label>
        <input type="text" asp-for="Name" value="@Model.Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </p>

    <p>
        <label asp-for="Block">Bloco: </label>
        <input type="text" asp-for="Block" value="@Model.Block">
        <span asp-validation-for="Block" class="text-danger"></span>
    </p>

    <button type="submit">Salvar</button>
</form>